In [1]:
'mum said: "she is coming"'

'mum said: "she is coming"'

In [3]:
 a = -10

In [4]:
type(a)

int

In [9]:
name = input(" Enter your name:")
age = int(input("How old are you?: "))
g_friend = input("Who is your girl friend? ")
g_age = int(input("How old is her ? "))

print("I m", name, "and I m", age, "old,", g_friend, "is my girl friend", "and she is",
      g_age, "old")

 Enter your name:Juan
How old are you?: 27
Who is your girl friend? Carelle
How old is her ? 22
I m Juan and I m 27 old, Carelle is my girl friend and she is 22 old

### Exercise 1.1

In [45]:
for i in range(4):
    for j in range(i+1):
        print("*", end = " ")
    print("\n")

*

* *

* * *

* * * *

### Exerice 1.7

In [7]:
height = float(input("Enter your height:\n"))
weight = float(input('Enter your weight:\n'))
BMI=(703*weight)/height**2
print("Your BMI is ",  BMI)

Enter your height:
52
Enter your weight:
78
Your BMI is  20.278846153846153

In [46]:
sep = 'end = "   "'
for i in range(5):
    input("Enter an integer:", 
         )

### Function

In [22]:
def(salary, expendenture):
    salary = float(input("Enter your salary"))
    expendicture = float(input("Enter your spending"))
    mes = print("It restes you ", salary - expendicture)
    return mes

SyntaxError: invalid syntax (<ipython-input-22-6e1b1d9a5af4>, line 1)

In [25]:
word = input("Enter your word")
for index in range(25):
    print(word, index+1)

Enter your wordffekfglfa
ffekfglfa 1
ffekfglfa 2
ffekfglfa 3
ffekfglfa 4
ffekfglfa 5
ffekfglfa 6
ffekfglfa 7
ffekfglfa 8
ffekfglfa 9
ffekfglfa 10
ffekfglfa 11
ffekfglfa 12
ffekfglfa 13
ffekfglfa 14
ffekfglfa 15
ffekfglfa 16
ffekfglfa 17
ffekfglfa 18
ffekfglfa 19
ffekfglfa 20
ffekfglfa 21
ffekfglfa 22
ffekfglfa 23
ffekfglfa 24
ffekfglfa 25

In [34]:
for i in range(20):
    print((i+1)**2, end = ' ')

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

In [3]:
y = int(input("Enter the year:\n"))
m = int(input("Enter the month:\n"))
d = int(input("Enter day:\n"))
p = (14-m)//12
q = y -p
r = q + q//4-q//100+q//400
s = m+12*p-2
t = (d+r+31*s//12) % 7
days =["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
print("The date is: ", days[t], d, "/", m, "/" , y)

KeyboardInterrupt: Interrupted by user

In [ ]:
print("Comment tu vas?")

In [ ]:
print("bjr bon guy")

In [ ]:
print(1+1)

In [4]:
a = 7
while a <= 10:
    a = a+1
print(a)

11

In [6]:
[x**2 for x in range(3)]

[0, 1, 4]

In [27]:
t = ["a", "b", "c"]
i = 0
print("Let's solve quadratic equation: ax^2 + bx + c = 0\n")
while i < 3:
    t[i] = float(input("Enter the parameter value number:"))
    i = i+1
if a == 0:
    if b == 0: r = 0
    else: 
        r = 1, x0 = -c/b
else:
    delta = b**2-4*a*c
    if delta < 0: r = 0
    if delta == 0:r = 1, x1 = -b/(2*a)
    else:r = 2
        
if r == 0:
    print("The equation has no solutions")
if r == 1:
    if a == 0: print("The unique solution of the equatio is", x0)
    else: print("The unique solution of the equation i", x1)
if r == 2:print("The equation has two distincts solutions x_1 and x_2 such as x_1=:", 
                (-b-sqrt(delta))/2*a, "x_2 = ", (-b + sqrt(delta))/2*a)

SyntaxError: cannot assign to literal (<ipython-input-27-2dcb0ff12643>, line 10)

In [38]:
data = {"name":["Ivana", "Urielle", "Noé", "Elisée", "Stevie", "Darius", "Marcel", "Taoufic", "Amos", "Ornella"], 
       "age":[100,15,12, 8,7, 16,20,18,15,18],
        "gender":["F", "F", "M", "M", "F", "M", "M","M","M","F"], 
        "income($)":[200,12,123, 123, 321, 838, 21, 365,973, 383]}

In [39]:
import pandas as pd
dataframe = pd.DataFrame(data, columns = ["name", "age", "gender", "income($)"])

In [40]:
dataframe

      name  age gender  income($)
0    Ivana  100      F        200
1  Urielle   15      F         12
2      Noé   12      M        123
3   Elisée    8      M        123
4   Stevie    7      F        321
5   Darius   16      M        838
6   Marcel   20      M         21
7  Taoufic   18      M        365
8     Amos   15      M        973
9  Ornella   18      F        383